<div class="container">
  <div class="splashbanner">
    <div class="col-md-4 col-sm-6">
      <%= image_tag('http://placehold.it/300x300', class: 'img-rounded img-responsive center-block')%>
    </div>
    <div class="col-md-4 col-sm-6">
      <%= image_tag('http://placehold.it/300x300', class: 'img-rounded img-responsive center-block')%>
    </div>
    <div class="col-md-4 col-sm-6">
      <%= image_tag('http://placehold.it/300x300', class: 'img-rounded img-responsive center-block')%>
    </div>
  </div>
</div>


<%= render '/shared/slider' %>
