<div class="homePage"></div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag 'http://placehold.it/1024x700' %>
      </div>
      <div class="item">
        <%= image_tag 'http://placehold.it/1024x701' %>
      </div>
      <div class="item">
        <%= image_tag 'http://placehold.it/1024x702' %>
      </div>
    </div>
  <div class="pull-center">
    <a class="carousel-control left" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="carousel-control right" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
